
<div class="page-container">
  <h2>Working Experience</h2>

  <div class="experience-list">
    <div class="experience-item">
      <div class="years">
        June 2022 - Present
      </div>
      <div class="details">
        <strong>Senior Software Engineer (Back-End)</strong> | <strong>Avanade Asia Pte Ltd</strong><br />
        <p>I have worked at Avanade, an IT consulting firm, gaining hands-on experience as both a Functional Business Analyst and a Software Engineer.</p>
        <p>
          I have contributed to projects using various project management methodologies, including Agile and Waterfall.
        </p>
      </div>
    </div>

    <div class="experience-item">
      <div class="years">
        July 2020 - May 2022
      </div>
      <div class="details">
        <strong>Assistant Management Officer</strong> | <strong>Centre for Translational Medicine (Cardiovascular Research Institute, NUS)</strong><br />
        <p>
          Led data analysis initiatives, providing actionable insights for research projects using Python and R.
        </p>
        <p>Developed and documented process improvement strategies to optimize research workflows.</p>
        <p>Engaged with multidisciplinary teams, fostering collaboration between IT, researchers, and data analysts.</p>
      </div>
    </div>
    
    <!-- Add more experience items here -->
  </div>
</div>
