<nav class="navbar">
  <div class="navbar-brand">Ai Qian's Homepage</div>
  <ul class="navbar-menu">
    <li class="navbar-item"><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
    <li class="navbar-item"><a routerLink="projects" routerLinkActive="active">Projects</a></li>
    <li class="navbar-item"><a routerLink="experience" routerLinkActive="active">Experience</a></li>
    <li class="navbar-item"><a routerLink="credentials" routerLinkActive="active">Credentials</a></li>
    <li class="navbar-item"><a routerLink="contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>