<div class="page-container">
<h2>Project Experience</h2>

<ol class="list">
  <li>
    <strong>Techno Functional Business Analysis</strong> | <strong>Citizen Disbursement IT System (CDIT)</strong> | <em>CPF Board</em>
    <ul>
      <li>Act as the primary liaison between business stakeholders and technical teams to define and refine project requirements.</li>
      <li>Analyse and document business processes, identifying areas for process improvement.</li>
      <li>Ensure alignment with regulatory and governance frameworks while delivering system enhancements.</li>
    </ul>
  </li>

  <li>
    <strong>Business Analysis (Quality & Production Readiness - QPR)</strong> | <strong>Inland Revenue Interactive Network (IRIN3)</strong> | <em>IRAS (Singapore)</em>
    <ul>
      <li>Collaborated with IRAS officers and technical teams to define requirements that improve taxpayer-facing processes for Singapore’s Individual Income Tax system.</li>
      <li>Supported the transition to a microservices architecture, improving service delivery and system scalability.</li>
      <li>Assisted in documenting taxpayer service workflows, ensuring alignment with tax administration objectives.</li>
      <li>Participated in Agile sprint activities, bridging the gap between tax operations and IT to deliver taxpayer-focused system enhancements.</li>
    </ul>
  </li>

</ol>

</div>